@media (max-width: 480px) {

    header {
      background-color: white;
      height: 25vw;
    }
  
    .logo {
      height: 80px;
      position: relative;
      left: 20px;
    }
  
    .logoHome {
      height: 80px;
      position: relative;
      left: 20px;
    }
  
    nav h4 {
      position: relative;
      left: 105px;
      bottom: 70px;
      color: grey;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
      font-size: large;
      text-decoration: none;
    }
  
    nav .entrar {
      display: block;
      height: 45px;
      width: 165px;
      position: relative;
      top: -50px;
      left: 30px;
      background-color: #73539D;
      border: none;
      border-radius: 5px;
      padding-top: 20px;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: large;
      text-align: center;
      text-decoration: #73539D underline;
  }
  
  
    nav .entrar:hover {
      background-color: #603f8b;
    }
  
    nav .cadastrar {
      display: block;
      height: 45px;
      width: 165px;
      position: relative;
      top: -115px;
      left: 250px;
      background-color: #73539D;
      border: none;
      border-radius: 5px;
      padding-top: 20px;
  
  
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: large;
      text-align: center;
      text-decoration: #73539D underline;
    }
  
    nav .cadastrar:hover {
      background-color: #603f8b;
    }
  
    .hamburguer {
      position: relative;
      left: 80%;
      top: -65px;
      bottom: 70px;
      display: block;
      width: 50px;
      height: 45px;
      cursor: pointer;
  
      appearance: none;
      background: none;
      outline: none;
      border: none
    }
  
    .hamburguer .bar,
    .hamburguer:after,
    .hamburguer:before {
      display: block;
      content: '';
      width: 100%;
      height: 7px;
      background-color: #73539D;
      margin: 5px 6px;
      transition: 0.3s;
    }
  
    .hamburguer.is-active:before {
      transform: rotate(-45deg) translate(-7px, 11px);
    }
  
    .hamburguer.is-active:after {
      transform: rotate(45deg) translate(-7px, -10px);
    }
  
    .hamburguer.is-active .bar {
      opacity: 0;
    }
  
    .mobile-nav img {
      position: relative;
      left: 20px;
      top: 10px;
    }
  
    .mobile-nav {
      position: fixed;
      top: 20px;
      left: 100%;
      width: 100%;
      min-height: 100vh;
      display: block;
      z-index: 98;
      background-color: #F2F2F2;
      margin-top: 90px;
      transition: 0.6s;
    }
  
    .mobile-nav.is-active {
      left: 0;
    }
  
    .mobile-nav .itemMenu {
      display: block;
      width: 100%;
      margin: 0 auto 16px;
      text-align: left;
      padding: 12px 16px;
      background-color: #f2f2f2;
  
      color: grey;
      text-decoration: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
      font-weight: 50;
    }
  
    .mobile-nav .itemMenu:hover {
      background-color: #ddd9d9;
    }


    .capaRenato{
        width: 100%;
        position: relative;
    }

    .blocoExtRE {
        display: block;
        width: 100%;
        height: 170px;
        background-color: #73539D;
        position: relative;
        top: -10px;
        color: #73539D;
      }
    
      .blocoIntRE {
        display: block;
        width: 92%;
        height: 135px;
        background-color: #4f2684;
        position: relative;
        left: 18px;
        top: -160px;
        color: #4f2684;
        border-radius: 15px;
      }

      .imgPerfilRE {
        position: relative;
        top: -390px;
        left: 25px;
        background-color: white;
        border-radius: 50%;
        border: solid 5px #f3c053;
      }

      .nomePerfilRE {
        position: relative;
        top: -535px;
        left: 165px;
        font-family: "Montserrat Bold", "Montserrat", sans-serif;
        font-weight: 700;
        color: #f5ecff;
        text-align: left;
        line-height: normal;
        letter-spacing: 0.4px;
      }
    
      .arrobaPerfilRE {
        position: relative;
        top: -555px;
        left: 165px;
        font-family: "Montserrat Bold", "Montserrat", sans-serif;
        font-weight: 700;
        color: #73539D;
        text-align: center;
        letter-spacing: 0.4px;
        font-size: 18px;
        border-radius: 12px;
    
        display: block;
        background-color: #f3c053;
        width: 105px;
        height: 25px;
        padding-top: 5px;
      }

      .quadradoRen {
        width: 416px;
        height: 336px;
        padding: 2px 2px 2px 2px;
        border-radius: 16px;
        border: 2px solid rgba(115, 83, 157, 0.99);
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
    
        position: relative;
        top: -380px;
        left: 25px;
      }
    
      .imgRenato {
        width: 350px;
        position: relative;
        top: -710px;
        left: 55px;
      }

      .sobreMimRen {
        width: 344px;
        height: 50px;
        padding: 2px 2px 2px 2px;
        border-radius: 15px;
        background-color: #73539d;
        box-sizing: border-box;
    
        font-family: "Montserrat Bold", "Montserrat", sans-serif;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        font-weight: 700;
    
        position: relative;
        top: -690px;
        left: 60px;
      }
    
      .sobreRenato {
        width: 400px;
        height: 850px;
        padding: 30px 45px 50px 36px;
        border: 2px solid #73539d;
        border-radius: 15px;
        background-color: #f2f2f2;
        box-sizing: border-box;
        font-size: 20px;
    
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        color: #333333;
        text-align: center;
        line-height: 30px;
    
        position: relative;
        top: -670px;
        left: 30px;
      }

      .contatoRen{
        color: #000000;
        font-size: 22px;
        position: relative;
        top: -650px;
        left: 30px;
      }
    
      .perfilRen{
        width: 201px;
        height: 83px;
        padding: 2px 2px 2px 2px;
        border-radius: 15px;
        background-color: #73539d;
        box-sizing: border-box;
        position: relative;
        top: -650px;
        left: 15px;
      }
    
      .numeRen{
        color: white;
        box-sizing: border-box;
        font-size: 19px;
        left: 10px;
        top: 20px;
        position: relative;
      }
    
      .telRen{
        background-color: #f3c053;
        position: relative;
        top: -55px;
        left: 85px;
      }

      .formRen{
        color: #000000;
        font-size: 22px;
        position: relative;
        top: -803px;
        left: 230px;
      }
    
      .pagRen{
        width: 201px;
        height: 83px;
        padding: 2px 2px 2px 2px;
        border-radius: 15px;
        background-color: #73539d;
        box-sizing: border-box;
        position: relative;
        top: -803px;
        left: 230px;
      }

      .cartaoRe{
        position: relative;
        left: 90px;
        top: -5px;
      }
    
      .cartaoVRe{
        position: relative;
        top: 35px;
        left: 5px;
      }
    
      .cartaoMRe{
        position: relative;
        top: 35px;
        left: 5px;
      }
    
      .cartaoPRe{
        position: relative;
        top: 35px;
        left: 5px;
      }

      .postRec {
        width: 344px;
        height: 50px;
        padding: 2px 2px 2px 2px;
        border-radius: 15px;
        background-color: #73539d;
        box-sizing: border-box;
    
        font-family: "Montserrat Bold", "Montserrat", sans-serif;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        font-weight: 700;
    
        position: relative;
        top: -750px;
        left: 60px;
      }
    
      .postsBox {
        width: 416px;
        height: 800px;
        padding: 2px 2px 2px 2px;
        border-radius: 15px;
        background-color: #f2f2f2;
        box-sizing: border-box;
    
        position: relative;
        top: -700px;
        left: 25px;
      }

      .postPedre {
        width: 343px;
        height: 335px;
        padding: 2px 40px 2px 40px;
        border-radius: 25px;
        background-color: #73539d;
        box-sizing: border-box;
    
        position: relative;
        left: 33px;
        top: 30px;
    
        font-family: "Montserrat Bold", "Montserrat", sans-serif;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        line-height: 18px;
        font-size: 17px;
      }
    
      .massa {
        position: relative;
        left: -39.6px;
        top: -3px;
      }

      .vermais {
        position: relative;
        top: -10px;
        font-weight: 10px;
        font-size: 15px;
      }
    
      .postObra {
        width: 343px;
        height: 335px;
        padding: 2px 40px 2px 40px;
        border-radius: 25px;
        background-color: #73539d;
        box-sizing: border-box;
    
        position: relative;
        left: 33px;
        top: 50px;
    
        font-family: "Montserrat Bold", "Montserrat", sans-serif;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        line-height: 18px;
        font-size: 17px;
      }
    
      .cimento {
        position: relative;
        left: -39.6px;
        top: -3px;
      }
    
      .setinhaBaixo {
        position: relative;
        top: -750px;
        left: 215px;
        width: 40px;
      }



































}